config:

  aws:region: {AWS_REGION}
  aws:s3UsePathStyle: "true"
  aws:accessKey: {AWS_ACCESS_KEY}
  aws:secretKey: {AWS_SECRET_KEY}
  aws:skipCredentialsValidation: "true"
  aws:skipRequestingAccountId: "true"

  aws-native:region: {AWS_REGION}
  aws-native:s3UsePathStyle: "true"
  aws-native:accessKey: {AWS_ACCESS_KEY}
  aws-native:secretKey: {AWS_SECRET_KEY}
  aws-native:skipCredentialsValidation: "true"

  aws:endpoints:
    - accessanalyzer: {LOCALSTACK_ENDPOINT}
    - account: {LOCALSTACK_ENDPOINT}
    - acm: {LOCALSTACK_ENDPOINT}
    - acmpca: {LOCALSTACK_ENDPOINT}
    - amg: {LOCALSTACK_ENDPOINT}
    - amp: {LOCALSTACK_ENDPOINT}
    - amplify: {LOCALSTACK_ENDPOINT}
    - apigateway: {LOCALSTACK_ENDPOINT}
    - apigatewayv2: {LOCALSTACK_ENDPOINT}
    - appautoscaling: {LOCALSTACK_ENDPOINT}
    - appconfig: {LOCALSTACK_ENDPOINT}
    - appfabric: {LOCALSTACK_ENDPOINT}
    - appflow: {LOCALSTACK_ENDPOINT}
    - appintegrations: {LOCALSTACK_ENDPOINT}
    - appintegrationsservice: {LOCALSTACK_ENDPOINT}
    - applicationautoscaling: {LOCALSTACK_ENDPOINT}
    - applicationinsights: {LOCALSTACK_ENDPOINT}
    - appmesh: {LOCALSTACK_ENDPOINT}
    - appregistry: {LOCALSTACK_ENDPOINT}
    - apprunner: {LOCALSTACK_ENDPOINT}
    - appstream: {LOCALSTACK_ENDPOINT}
    - appsync: {LOCALSTACK_ENDPOINT}
    - athena: {LOCALSTACK_ENDPOINT}
    - auditmanager: {LOCALSTACK_ENDPOINT}
    - autoscaling: {LOCALSTACK_ENDPOINT}
    - autoscalingplans: {LOCALSTACK_ENDPOINT}
    - backup: {LOCALSTACK_ENDPOINT}
    - batch: {LOCALSTACK_ENDPOINT}
    - bcmdataexports: {LOCALSTACK_ENDPOINT}
    - beanstalk: {LOCALSTACK_ENDPOINT}
    - bedrock: {LOCALSTACK_ENDPOINT}
    - bedrockagent: {LOCALSTACK_ENDPOINT}
    - budgets: {LOCALSTACK_ENDPOINT}
    - ce: {LOCALSTACK_ENDPOINT}
    - chatbot: {LOCALSTACK_ENDPOINT}
    - chime: {LOCALSTACK_ENDPOINT}
    - chimesdkmediapipelines: {LOCALSTACK_ENDPOINT}
    - chimesdkvoice: {LOCALSTACK_ENDPOINT}
    - cleanrooms: {LOCALSTACK_ENDPOINT}
    - cloud9: {LOCALSTACK_ENDPOINT}
    - cloudcontrol: {LOCALSTACK_ENDPOINT}
    - cloudcontrolapi: {LOCALSTACK_ENDPOINT}
    - cloudformation: {LOCALSTACK_ENDPOINT}
    - cloudfront: {LOCALSTACK_ENDPOINT}
    - cloudfrontkeyvaluestore: {LOCALSTACK_ENDPOINT}
    - cloudhsm: {LOCALSTACK_ENDPOINT}
    - cloudhsmv2: {LOCALSTACK_ENDPOINT}
    - cloudsearch: {LOCALSTACK_ENDPOINT}
    - cloudtrail: {LOCALSTACK_ENDPOINT}
    - cloudwatch: {LOCALSTACK_ENDPOINT}
    - cloudwatchevents: {LOCALSTACK_ENDPOINT}
    - cloudwatchevidently: {LOCALSTACK_ENDPOINT}
    - cloudwatchlog: {LOCALSTACK_ENDPOINT}
    - cloudwatchlogs: {LOCALSTACK_ENDPOINT}
    - cloudwatchobservabilityaccessmanager: {LOCALSTACK_ENDPOINT}
    - cloudwatchrum: {LOCALSTACK_ENDPOINT}
    - codeartifact: {LOCALSTACK_ENDPOINT}
    - codebuild: {LOCALSTACK_ENDPOINT}
    - codecatalyst: {LOCALSTACK_ENDPOINT}
    - codecommit: {LOCALSTACK_ENDPOINT}
    - codedeploy: {LOCALSTACK_ENDPOINT}
    - codeguruprofiler: {LOCALSTACK_ENDPOINT}
    - codegurureviewer: {LOCALSTACK_ENDPOINT}
    - codepipeline: {LOCALSTACK_ENDPOINT}
    - codestarconnections: {LOCALSTACK_ENDPOINT}
    - codestarnotifications: {LOCALSTACK_ENDPOINT}
    - cognitoidentity: {LOCALSTACK_ENDPOINT}
    - cognitoidentityprovider: {LOCALSTACK_ENDPOINT}
    - cognitoidp: {LOCALSTACK_ENDPOINT}
    - comprehend: {LOCALSTACK_ENDPOINT}
    - computeoptimizer: {LOCALSTACK_ENDPOINT}
    - config: {LOCALSTACK_ENDPOINT}
    - configservice: {LOCALSTACK_ENDPOINT}
    - connect: {LOCALSTACK_ENDPOINT}
    - connectcases: {LOCALSTACK_ENDPOINT}
    - controltower: {LOCALSTACK_ENDPOINT}
    - costandusagereportservice: {LOCALSTACK_ENDPOINT}
    - costexplorer: {LOCALSTACK_ENDPOINT}
    - costoptimizationhub: {LOCALSTACK_ENDPOINT}
    - cur: {LOCALSTACK_ENDPOINT}
    - customerprofiles: {LOCALSTACK_ENDPOINT}
    - databasemigration: {LOCALSTACK_ENDPOINT}
    - databasemigrationservice: {LOCALSTACK_ENDPOINT}
    - dataexchange: {LOCALSTACK_ENDPOINT}
    - datapipeline: {LOCALSTACK_ENDPOINT}
    - datasync: {LOCALSTACK_ENDPOINT}
    - datazone: {LOCALSTACK_ENDPOINT}
    - dax: {LOCALSTACK_ENDPOINT}
    - deploy: {LOCALSTACK_ENDPOINT}
    - detective: {LOCALSTACK_ENDPOINT}
    - devicefarm: {LOCALSTACK_ENDPOINT}
    - devopsguru: {LOCALSTACK_ENDPOINT}
    - directconnect: {LOCALSTACK_ENDPOINT}
    - directoryservice: {LOCALSTACK_ENDPOINT}
    - dlm: {LOCALSTACK_ENDPOINT}
    - dms: {LOCALSTACK_ENDPOINT}
    - docdb: {LOCALSTACK_ENDPOINT}
    - docdbelastic: {LOCALSTACK_ENDPOINT}
    - ds: {LOCALSTACK_ENDPOINT}
    - dynamodb: {LOCALSTACK_ENDPOINT}
    - ec2: {LOCALSTACK_ENDPOINT}
    - ecr: {LOCALSTACK_ENDPOINT}
    - ecrpublic: {LOCALSTACK_ENDPOINT}
    - ecs: {LOCALSTACK_ENDPOINT}
    - efs: {LOCALSTACK_ENDPOINT}
    - eks: {LOCALSTACK_ENDPOINT}
    - elasticache: {LOCALSTACK_ENDPOINT}
    - elasticbeanstalk: {LOCALSTACK_ENDPOINT}
    - elasticloadbalancing: {LOCALSTACK_ENDPOINT}
    - elasticloadbalancingv2: {LOCALSTACK_ENDPOINT}
    - elasticsearch: {LOCALSTACK_ENDPOINT}
    - elasticsearchservice: {LOCALSTACK_ENDPOINT}
    - elastictranscoder: {LOCALSTACK_ENDPOINT}
    - elb: {LOCALSTACK_ENDPOINT}
    - elbv2: {LOCALSTACK_ENDPOINT}
    - emr: {LOCALSTACK_ENDPOINT}
    - emrcontainers: {LOCALSTACK_ENDPOINT}
    - emrserverless: {LOCALSTACK_ENDPOINT}
    - es: {LOCALSTACK_ENDPOINT}
    - eventbridge: {LOCALSTACK_ENDPOINT}
    - events: {LOCALSTACK_ENDPOINT}
    - evidently: {LOCALSTACK_ENDPOINT}
    - finspace: {LOCALSTACK_ENDPOINT}
    - firehose: {LOCALSTACK_ENDPOINT}
    - fis: {LOCALSTACK_ENDPOINT}
    - fms: {LOCALSTACK_ENDPOINT}
    - fsx: {LOCALSTACK_ENDPOINT}
    - gamelift: {LOCALSTACK_ENDPOINT}
    - glacier: {LOCALSTACK_ENDPOINT}
    - globalaccelerator: {LOCALSTACK_ENDPOINT}
    - glue: {LOCALSTACK_ENDPOINT}
    - grafana: {LOCALSTACK_ENDPOINT}
    - greengrass: {LOCALSTACK_ENDPOINT}
    - groundstation: {LOCALSTACK_ENDPOINT}
    - guardduty: {LOCALSTACK_ENDPOINT}
    - healthlake: {LOCALSTACK_ENDPOINT}
    - iam: {LOCALSTACK_ENDPOINT}
    - identitystore: {LOCALSTACK_ENDPOINT}
    - imagebuilder: {LOCALSTACK_ENDPOINT}
    - inspector: {LOCALSTACK_ENDPOINT}
    - inspector2: {LOCALSTACK_ENDPOINT}
    - inspectorv2: {LOCALSTACK_ENDPOINT}
    - internetmonitor: {LOCALSTACK_ENDPOINT}
    - iot: {LOCALSTACK_ENDPOINT}
    - iotanalytics: {LOCALSTACK_ENDPOINT}
    - iotevents: {LOCALSTACK_ENDPOINT}
    - ivs: {LOCALSTACK_ENDPOINT}
    - ivschat: {LOCALSTACK_ENDPOINT}
    - kafka: {LOCALSTACK_ENDPOINT}
    - kafkaconnect: {LOCALSTACK_ENDPOINT}
    - kendra: {LOCALSTACK_ENDPOINT}
    - keyspaces: {LOCALSTACK_ENDPOINT}
    - kinesis: {LOCALSTACK_ENDPOINT}
    - kinesisanalytics: {LOCALSTACK_ENDPOINT}
    - kinesisanalyticsv2: {LOCALSTACK_ENDPOINT}
    - kinesisvideo: {LOCALSTACK_ENDPOINT}
    - kms: {LOCALSTACK_ENDPOINT}
    - lakeformation: {LOCALSTACK_ENDPOINT}
    - lambda: {LOCALSTACK_ENDPOINT}
    - launchwizard: {LOCALSTACK_ENDPOINT}
    - lex: {LOCALSTACK_ENDPOINT}
    - lexmodelbuilding: {LOCALSTACK_ENDPOINT}
    - lexmodelbuildingservice: {LOCALSTACK_ENDPOINT}
    - lexmodels: {LOCALSTACK_ENDPOINT}
    - lexmodelsv2: {LOCALSTACK_ENDPOINT}
    - lexv2models: {LOCALSTACK_ENDPOINT}
    - licensemanager: {LOCALSTACK_ENDPOINT}
    - lightsail: {LOCALSTACK_ENDPOINT}
    - location: {LOCALSTACK_ENDPOINT}
    - locationservice: {LOCALSTACK_ENDPOINT}
    - logs: {LOCALSTACK_ENDPOINT}
    - lookoutmetrics: {LOCALSTACK_ENDPOINT}
    - m2: {LOCALSTACK_ENDPOINT}
    - macie2: {LOCALSTACK_ENDPOINT}
    - managedgrafana: {LOCALSTACK_ENDPOINT}
    - mediaconnect: {LOCALSTACK_ENDPOINT}
    - mediaconvert: {LOCALSTACK_ENDPOINT}
    - medialive: {LOCALSTACK_ENDPOINT}
    - mediapackage: {LOCALSTACK_ENDPOINT}
    - mediapackagev2: {LOCALSTACK_ENDPOINT}
    - mediastore: {LOCALSTACK_ENDPOINT}
    - memorydb: {LOCALSTACK_ENDPOINT}
    - mq: {LOCALSTACK_ENDPOINT}
    - msk: {LOCALSTACK_ENDPOINT}
    - mwaa: {LOCALSTACK_ENDPOINT}
    - neptune: {LOCALSTACK_ENDPOINT}
    - neptunegraph: {LOCALSTACK_ENDPOINT}
    - networkfirewall: {LOCALSTACK_ENDPOINT}
    - networkmanager: {LOCALSTACK_ENDPOINT}
    - oam: {LOCALSTACK_ENDPOINT}
    - opensearch: {LOCALSTACK_ENDPOINT}
    - opensearchingestion: {LOCALSTACK_ENDPOINT}
    - opensearchserverless: {LOCALSTACK_ENDPOINT}
    - opensearchservice: {LOCALSTACK_ENDPOINT}
    - opsworks: {LOCALSTACK_ENDPOINT}
    - organizations: {LOCALSTACK_ENDPOINT}
    - osis: {LOCALSTACK_ENDPOINT}
    - outposts: {LOCALSTACK_ENDPOINT}
    - paymentcryptography: {LOCALSTACK_ENDPOINT}
    - pcaconnectorad: {LOCALSTACK_ENDPOINT}
    - pinpoint: {LOCALSTACK_ENDPOINT}
    - pipes: {LOCALSTACK_ENDPOINT}
    - polly: {LOCALSTACK_ENDPOINT}
    - pricing: {LOCALSTACK_ENDPOINT}
    - prometheus: {LOCALSTACK_ENDPOINT}
    - prometheusservice: {LOCALSTACK_ENDPOINT}
    - qbusiness: {LOCALSTACK_ENDPOINT}
    - qldb: {LOCALSTACK_ENDPOINT}
    - quicksight: {LOCALSTACK_ENDPOINT}
    - ram: {LOCALSTACK_ENDPOINT}
    - rbin: {LOCALSTACK_ENDPOINT}
    - rds: {LOCALSTACK_ENDPOINT}
    - recyclebin: {LOCALSTACK_ENDPOINT}
    - redshift: {LOCALSTACK_ENDPOINT}
    - redshiftdata: {LOCALSTACK_ENDPOINT}
    - redshiftdataapiservice: {LOCALSTACK_ENDPOINT}
    - redshiftserverless: {LOCALSTACK_ENDPOINT}
    - rekognition: {LOCALSTACK_ENDPOINT}
    - resourceexplorer2: {LOCALSTACK_ENDPOINT}
    - resourcegroups: {LOCALSTACK_ENDPOINT}
    - resourcegroupstagging: {LOCALSTACK_ENDPOINT}
    - resourcegroupstaggingapi: {LOCALSTACK_ENDPOINT}
    - rolesanywhere: {LOCALSTACK_ENDPOINT}
    - route53: {LOCALSTACK_ENDPOINT}
    - route53domains: {LOCALSTACK_ENDPOINT}
    - route53profiles: {LOCALSTACK_ENDPOINT}
    - route53recoverycontrolconfig: {LOCALSTACK_ENDPOINT}
    - route53recoveryreadiness: {LOCALSTACK_ENDPOINT}
    - route53resolver: {LOCALSTACK_ENDPOINT}
    - rum: {LOCALSTACK_ENDPOINT}
    - s3: {LOCALSTACK_ENDPOINT}
    - s3api: {LOCALSTACK_ENDPOINT}
    - s3control: {LOCALSTACK_ENDPOINT}
    - s3outposts: {LOCALSTACK_ENDPOINT}
    - sagemaker: {LOCALSTACK_ENDPOINT}
    - scheduler: {LOCALSTACK_ENDPOINT}
    - schemas: {LOCALSTACK_ENDPOINT}
    - sdb: {LOCALSTACK_ENDPOINT}
    - secretsmanager: {LOCALSTACK_ENDPOINT}
    - securityhub: {LOCALSTACK_ENDPOINT}
    - securitylake: {LOCALSTACK_ENDPOINT}
    - serverlessapplicationrepository: {LOCALSTACK_ENDPOINT}
    - serverlessapprepo: {LOCALSTACK_ENDPOINT}
    - serverlessrepo: {LOCALSTACK_ENDPOINT}
    - servicecatalog: {LOCALSTACK_ENDPOINT}
    - servicecatalogappregistry: {LOCALSTACK_ENDPOINT}
    - servicediscovery: {LOCALSTACK_ENDPOINT}
    - servicequotas: {LOCALSTACK_ENDPOINT}
    - ses: {LOCALSTACK_ENDPOINT}
    - sesv2: {LOCALSTACK_ENDPOINT}
    - sfn: {LOCALSTACK_ENDPOINT}
    - shield: {LOCALSTACK_ENDPOINT}
    - signer: {LOCALSTACK_ENDPOINT}
    - simpledb: {LOCALSTACK_ENDPOINT}
    - sns: {LOCALSTACK_ENDPOINT}
    - sqs: {LOCALSTACK_ENDPOINT}
    - ssm: {LOCALSTACK_ENDPOINT}
    - ssmcontacts: {LOCALSTACK_ENDPOINT}
    - ssmincidents: {LOCALSTACK_ENDPOINT}
    - ssmsap: {LOCALSTACK_ENDPOINT}
    - sso: {LOCALSTACK_ENDPOINT}
    - ssoadmin: {LOCALSTACK_ENDPOINT}
    - stepfunctions: {LOCALSTACK_ENDPOINT}
    - storagegateway: {LOCALSTACK_ENDPOINT}
    - sts: {LOCALSTACK_ENDPOINT}
    - swf: {LOCALSTACK_ENDPOINT}
    - synthetics: {LOCALSTACK_ENDPOINT}
    - timestreamwrite: {LOCALSTACK_ENDPOINT}
    - transcribe: {LOCALSTACK_ENDPOINT}
    - transcribeservice: {LOCALSTACK_ENDPOINT}
    - transfer: {LOCALSTACK_ENDPOINT}
    - verifiedpermissions: {LOCALSTACK_ENDPOINT}
    - vpclattice: {LOCALSTACK_ENDPOINT}
    - waf: {LOCALSTACK_ENDPOINT}
    - wafregional: {LOCALSTACK_ENDPOINT}
    - wafv2: {LOCALSTACK_ENDPOINT}
    - wellarchitected: {LOCALSTACK_ENDPOINT}
    - worklink: {LOCALSTACK_ENDPOINT}
    - workspaces: {LOCALSTACK_ENDPOINT}
    - xray: {LOCALSTACK_ENDPOINT}

aws-native:endpoints:
    - accessanalyzer: {LOCALSTACK_ENDPOINT}
    - account: {LOCALSTACK_ENDPOINT}
    - acm: {LOCALSTACK_ENDPOINT}
    - acmpca: {LOCALSTACK_ENDPOINT}
    - amg: {LOCALSTACK_ENDPOINT}
    - amp: {LOCALSTACK_ENDPOINT}
    - amplify: {LOCALSTACK_ENDPOINT}
    - apigateway: {LOCALSTACK_ENDPOINT}
    - apigatewayv2: {LOCALSTACK_ENDPOINT}
    - appautoscaling: {LOCALSTACK_ENDPOINT}
    - appconfig: {LOCALSTACK_ENDPOINT}
    - appfabric: {LOCALSTACK_ENDPOINT}
    - appflow: {LOCALSTACK_ENDPOINT}
    - appintegrations: {LOCALSTACK_ENDPOINT}
    - appintegrationsservice: {LOCALSTACK_ENDPOINT}
    - applicationautoscaling: {LOCALSTACK_ENDPOINT}
    - applicationinsights: {LOCALSTACK_ENDPOINT}
    - appmesh: {LOCALSTACK_ENDPOINT}
    - appregistry: {LOCALSTACK_ENDPOINT}
    - apprunner: {LOCALSTACK_ENDPOINT}
    - appstream: {LOCALSTACK_ENDPOINT}
    - appsync: {LOCALSTACK_ENDPOINT}
    - athena: {LOCALSTACK_ENDPOINT}
    - auditmanager: {LOCALSTACK_ENDPOINT}
    - autoscaling: {LOCALSTACK_ENDPOINT}
    - autoscalingplans: {LOCALSTACK_ENDPOINT}
    - backup: {LOCALSTACK_ENDPOINT}
    - batch: {LOCALSTACK_ENDPOINT}
    - bcmdataexports: {LOCALSTACK_ENDPOINT}
    - beanstalk: {LOCALSTACK_ENDPOINT}
    - bedrock: {LOCALSTACK_ENDPOINT}
    - bedrockagent: {LOCALSTACK_ENDPOINT}
    - budgets: {LOCALSTACK_ENDPOINT}
    - ce: {LOCALSTACK_ENDPOINT}
    - chatbot: {LOCALSTACK_ENDPOINT}
    - chime: {LOCALSTACK_ENDPOINT}
    - chimesdkmediapipelines: {LOCALSTACK_ENDPOINT}
    - chimesdkvoice: {LOCALSTACK_ENDPOINT}
    - cleanrooms: {LOCALSTACK_ENDPOINT}
    - cloud9: {LOCALSTACK_ENDPOINT}
    - cloudcontrol: {LOCALSTACK_ENDPOINT}
    - cloudcontrolapi: {LOCALSTACK_ENDPOINT}
    - cloudformation: {LOCALSTACK_ENDPOINT}
    - cloudfront: {LOCALSTACK_ENDPOINT}
    - cloudfrontkeyvaluestore: {LOCALSTACK_ENDPOINT}
    - cloudhsm: {LOCALSTACK_ENDPOINT}
    - cloudhsmv2: {LOCALSTACK_ENDPOINT}
    - cloudsearch: {LOCALSTACK_ENDPOINT}
    - cloudtrail: {LOCALSTACK_ENDPOINT}
    - cloudwatch: {LOCALSTACK_ENDPOINT}
    - cloudwatchevents: {LOCALSTACK_ENDPOINT}
    - cloudwatchevidently: {LOCALSTACK_ENDPOINT}
    - cloudwatchlog: {LOCALSTACK_ENDPOINT}
    - cloudwatchlogs: {LOCALSTACK_ENDPOINT}
    - cloudwatchobservabilityaccessmanager: {LOCALSTACK_ENDPOINT}
    - cloudwatchrum: {LOCALSTACK_ENDPOINT}
    - codeartifact: {LOCALSTACK_ENDPOINT}
    - codebuild: {LOCALSTACK_ENDPOINT}
    - codecatalyst: {LOCALSTACK_ENDPOINT}
    - codecommit: {LOCALSTACK_ENDPOINT}
    - codedeploy: {LOCALSTACK_ENDPOINT}
    - codeguruprofiler: {LOCALSTACK_ENDPOINT}
    - codegurureviewer: {LOCALSTACK_ENDPOINT}
    - codepipeline: {LOCALSTACK_ENDPOINT}
    - codestarconnections: {LOCALSTACK_ENDPOINT}
    - codestarnotifications: {LOCALSTACK_ENDPOINT}
    - cognitoidentity: {LOCALSTACK_ENDPOINT}
    - cognitoidentityprovider: {LOCALSTACK_ENDPOINT}
    - cognitoidp: {LOCALSTACK_ENDPOINT}
    - comprehend: {LOCALSTACK_ENDPOINT}
    - computeoptimizer: {LOCALSTACK_ENDPOINT}
    - config: {LOCALSTACK_ENDPOINT}
    - configservice: {LOCALSTACK_ENDPOINT}
    - connect: {LOCALSTACK_ENDPOINT}
    - connectcases: {LOCALSTACK_ENDPOINT}
    - controltower: {LOCALSTACK_ENDPOINT}
    - costandusagereportservice: {LOCALSTACK_ENDPOINT}
    - costexplorer: {LOCALSTACK_ENDPOINT}
    - costoptimizationhub: {LOCALSTACK_ENDPOINT}
    - cur: {LOCALSTACK_ENDPOINT}
    - customerprofiles: {LOCALSTACK_ENDPOINT}
    - databasemigration: {LOCALSTACK_ENDPOINT}
    - databasemigrationservice: {LOCALSTACK_ENDPOINT}
    - dataexchange: {LOCALSTACK_ENDPOINT}
    - datapipeline: {LOCALSTACK_ENDPOINT}
    - datasync: {LOCALSTACK_ENDPOINT}
    - datazone: {LOCALSTACK_ENDPOINT}
    - dax: {LOCALSTACK_ENDPOINT}
    - deploy: {LOCALSTACK_ENDPOINT}
    - detective: {LOCALSTACK_ENDPOINT}
    - devicefarm: {LOCALSTACK_ENDPOINT}
    - devopsguru: {LOCALSTACK_ENDPOINT}
    - directconnect: {LOCALSTACK_ENDPOINT}
    - directoryservice: {LOCALSTACK_ENDPOINT}
    - dlm: {LOCALSTACK_ENDPOINT}
    - dms: {LOCALSTACK_ENDPOINT}
    - docdb: {LOCALSTACK_ENDPOINT}
    - docdbelastic: {LOCALSTACK_ENDPOINT}
    - ds: {LOCALSTACK_ENDPOINT}
    - dynamodb: {LOCALSTACK_ENDPOINT}
    - ec2: {LOCALSTACK_ENDPOINT}
    - ecr: {LOCALSTACK_ENDPOINT}
    - ecrpublic: {LOCALSTACK_ENDPOINT}
    - ecs: {LOCALSTACK_ENDPOINT}
    - efs: {LOCALSTACK_ENDPOINT}
    - eks: {LOCALSTACK_ENDPOINT}
    - elasticache: {LOCALSTACK_ENDPOINT}
    - elasticbeanstalk: {LOCALSTACK_ENDPOINT}
    - elasticloadbalancing: {LOCALSTACK_ENDPOINT}
    - elasticloadbalancingv2: {LOCALSTACK_ENDPOINT}
    - elasticsearch: {LOCALSTACK_ENDPOINT}
    - elasticsearchservice: {LOCALSTACK_ENDPOINT}
    - elastictranscoder: {LOCALSTACK_ENDPOINT}
    - elb: {LOCALSTACK_ENDPOINT}
    - elbv2: {LOCALSTACK_ENDPOINT}
    - emr: {LOCALSTACK_ENDPOINT}
    - emrcontainers: {LOCALSTACK_ENDPOINT}
    - emrserverless: {LOCALSTACK_ENDPOINT}
    - es: {LOCALSTACK_ENDPOINT}
    - eventbridge: {LOCALSTACK_ENDPOINT}
    - events: {LOCALSTACK_ENDPOINT}
    - evidently: {LOCALSTACK_ENDPOINT}
    - finspace: {LOCALSTACK_ENDPOINT}
    - firehose: {LOCALSTACK_ENDPOINT}
    - fis: {LOCALSTACK_ENDPOINT}
    - fms: {LOCALSTACK_ENDPOINT}
    - fsx: {LOCALSTACK_ENDPOINT}
    - gamelift: {LOCALSTACK_ENDPOINT}
    - glacier: {LOCALSTACK_ENDPOINT}
    - globalaccelerator: {LOCALSTACK_ENDPOINT}
    - glue: {LOCALSTACK_ENDPOINT}
    - grafana: {LOCALSTACK_ENDPOINT}
    - greengrass: {LOCALSTACK_ENDPOINT}
    - groundstation: {LOCALSTACK_ENDPOINT}
    - guardduty: {LOCALSTACK_ENDPOINT}
    - healthlake: {LOCALSTACK_ENDPOINT}
    - iam: {LOCALSTACK_ENDPOINT}
    - identitystore: {LOCALSTACK_ENDPOINT}
    - imagebuilder: {LOCALSTACK_ENDPOINT}
    - inspector: {LOCALSTACK_ENDPOINT}
    - inspector2: {LOCALSTACK_ENDPOINT}
    - inspectorv2: {LOCALSTACK_ENDPOINT}
    - internetmonitor: {LOCALSTACK_ENDPOINT}
    - iot: {LOCALSTACK_ENDPOINT}
    - iotanalytics: {LOCALSTACK_ENDPOINT}
    - iotevents: {LOCALSTACK_ENDPOINT}
    - ivs: {LOCALSTACK_ENDPOINT}
    - ivschat: {LOCALSTACK_ENDPOINT}
    - kafka: {LOCALSTACK_ENDPOINT}
    - kafkaconnect: {LOCALSTACK_ENDPOINT}
    - kendra: {LOCALSTACK_ENDPOINT}
    - keyspaces: {LOCALSTACK_ENDPOINT}
    - kinesis: {LOCALSTACK_ENDPOINT}
    - kinesisanalytics: {LOCALSTACK_ENDPOINT}
    - kinesisanalyticsv2: {LOCALSTACK_ENDPOINT}
    - kinesisvideo: {LOCALSTACK_ENDPOINT}
    - kms: {LOCALSTACK_ENDPOINT}
    - lakeformation: {LOCALSTACK_ENDPOINT}
    - lambda: {LOCALSTACK_ENDPOINT}
    - launchwizard: {LOCALSTACK_ENDPOINT}
    - lex: {LOCALSTACK_ENDPOINT}
    - lexmodelbuilding: {LOCALSTACK_ENDPOINT}
    - lexmodelbuildingservice: {LOCALSTACK_ENDPOINT}
    - lexmodels: {LOCALSTACK_ENDPOINT}
    - lexmodelsv2: {LOCALSTACK_ENDPOINT}
    - lexv2models: {LOCALSTACK_ENDPOINT}
    - licensemanager: {LOCALSTACK_ENDPOINT}
    - lightsail: {LOCALSTACK_ENDPOINT}
    - location: {LOCALSTACK_ENDPOINT}
    - locationservice: {LOCALSTACK_ENDPOINT}
    - logs: {LOCALSTACK_ENDPOINT}
    - lookoutmetrics: {LOCALSTACK_ENDPOINT}
    - m2: {LOCALSTACK_ENDPOINT}
    - macie2: {LOCALSTACK_ENDPOINT}
    - managedgrafana: {LOCALSTACK_ENDPOINT}
    - mediaconnect: {LOCALSTACK_ENDPOINT}
    - mediaconvert: {LOCALSTACK_ENDPOINT}
    - medialive: {LOCALSTACK_ENDPOINT}
    - mediapackage: {LOCALSTACK_ENDPOINT}
    - mediapackagev2: {LOCALSTACK_ENDPOINT}
    - mediastore: {LOCALSTACK_ENDPOINT}
    - memorydb: {LOCALSTACK_ENDPOINT}
    - mq: {LOCALSTACK_ENDPOINT}
    - msk: {LOCALSTACK_ENDPOINT}
    - mwaa: {LOCALSTACK_ENDPOINT}
    - neptune: {LOCALSTACK_ENDPOINT}
    - neptunegraph: {LOCALSTACK_ENDPOINT}
    - networkfirewall: {LOCALSTACK_ENDPOINT}
    - networkmanager: {LOCALSTACK_ENDPOINT}
    - oam: {LOCALSTACK_ENDPOINT}
    - opensearch: {LOCALSTACK_ENDPOINT}
    - opensearchingestion: {LOCALSTACK_ENDPOINT}
    - opensearchserverless: {LOCALSTACK_ENDPOINT}
    - opensearchservice: {LOCALSTACK_ENDPOINT}
    - opsworks: {LOCALSTACK_ENDPOINT}
    - organizations: {LOCALSTACK_ENDPOINT}
    - osis: {LOCALSTACK_ENDPOINT}
    - outposts: {LOCALSTACK_ENDPOINT}
    - paymentcryptography: {LOCALSTACK_ENDPOINT}
    - pcaconnectorad: {LOCALSTACK_ENDPOINT}
    - pinpoint: {LOCALSTACK_ENDPOINT}
    - pipes: {LOCALSTACK_ENDPOINT}
    - polly: {LOCALSTACK_ENDPOINT}
    - pricing: {LOCALSTACK_ENDPOINT}
    - prometheus: {LOCALSTACK_ENDPOINT}
    - prometheusservice: {LOCALSTACK_ENDPOINT}
    - qbusiness: {LOCALSTACK_ENDPOINT}
    - qldb: {LOCALSTACK_ENDPOINT}
    - quicksight: {LOCALSTACK_ENDPOINT}
    - ram: {LOCALSTACK_ENDPOINT}
    - rbin: {LOCALSTACK_ENDPOINT}
    - rds: {LOCALSTACK_ENDPOINT}
    - recyclebin: {LOCALSTACK_ENDPOINT}
    - redshift: {LOCALSTACK_ENDPOINT}
    - redshiftdata: {LOCALSTACK_ENDPOINT}
    - redshiftdataapiservice: {LOCALSTACK_ENDPOINT}
    - redshiftserverless: {LOCALSTACK_ENDPOINT}
    - rekognition: {LOCALSTACK_ENDPOINT}
    - resourceexplorer2: {LOCALSTACK_ENDPOINT}
    - resourcegroups: {LOCALSTACK_ENDPOINT}
    - resourcegroupstagging: {LOCALSTACK_ENDPOINT}
    - resourcegroupstaggingapi: {LOCALSTACK_ENDPOINT}
    - rolesanywhere: {LOCALSTACK_ENDPOINT}
    - route53: {LOCALSTACK_ENDPOINT}
    - route53domains: {LOCALSTACK_ENDPOINT}
    - route53profiles: {LOCALSTACK_ENDPOINT}
    - route53recoverycontrolconfig: {LOCALSTACK_ENDPOINT}
    - route53recoveryreadiness: {LOCALSTACK_ENDPOINT}
    - route53resolver: {LOCALSTACK_ENDPOINT}
    - rum: {LOCALSTACK_ENDPOINT}
    - s3: {LOCALSTACK_ENDPOINT}
    - s3api: {LOCALSTACK_ENDPOINT}
    - s3control: {LOCALSTACK_ENDPOINT}
    - s3outposts: {LOCALSTACK_ENDPOINT}
    - sagemaker: {LOCALSTACK_ENDPOINT}
    - scheduler: {LOCALSTACK_ENDPOINT}
    - schemas: {LOCALSTACK_ENDPOINT}
    - sdb: {LOCALSTACK_ENDPOINT}
    - secretsmanager: {LOCALSTACK_ENDPOINT}
    - securityhub: {LOCALSTACK_ENDPOINT}
    - securitylake: {LOCALSTACK_ENDPOINT}
    - serverlessapplicationrepository: {LOCALSTACK_ENDPOINT}
    - serverlessapprepo: {LOCALSTACK_ENDPOINT}
    - serverlessrepo: {LOCALSTACK_ENDPOINT}
    - servicecatalog: {LOCALSTACK_ENDPOINT}
    - servicecatalogappregistry: {LOCALSTACK_ENDPOINT}
    - servicediscovery: {LOCALSTACK_ENDPOINT}
    - servicequotas: {LOCALSTACK_ENDPOINT}
    - ses: {LOCALSTACK_ENDPOINT}
    - sesv2: {LOCALSTACK_ENDPOINT}
    - sfn: {LOCALSTACK_ENDPOINT}
    - shield: {LOCALSTACK_ENDPOINT}
    - signer: {LOCALSTACK_ENDPOINT}
    - simpledb: {LOCALSTACK_ENDPOINT}
    - sns: {LOCALSTACK_ENDPOINT}
    - sqs: {LOCALSTACK_ENDPOINT}
    - ssm: {LOCALSTACK_ENDPOINT}
    - ssmcontacts: {LOCALSTACK_ENDPOINT}
    - ssmincidents: {LOCALSTACK_ENDPOINT}
    - ssmsap: {LOCALSTACK_ENDPOINT}
    - sso: {LOCALSTACK_ENDPOINT}
    - ssoadmin: {LOCALSTACK_ENDPOINT}
    - stepfunctions: {LOCALSTACK_ENDPOINT}
    - storagegateway: {LOCALSTACK_ENDPOINT}
    - sts: {LOCALSTACK_ENDPOINT}
    - swf: {LOCALSTACK_ENDPOINT}
    - synthetics: {LOCALSTACK_ENDPOINT}
    - timestreamwrite: {LOCALSTACK_ENDPOINT}
    - transcribe: {LOCALSTACK_ENDPOINT}
    - transcribeservice: {LOCALSTACK_ENDPOINT}
    - transfer: {LOCALSTACK_ENDPOINT}
    - verifiedpermissions: {LOCALSTACK_ENDPOINT}
    - vpclattice: {LOCALSTACK_ENDPOINT}
    - waf: {LOCALSTACK_ENDPOINT}
    - wafregional: {LOCALSTACK_ENDPOINT}
    - wafv2: {LOCALSTACK_ENDPOINT}
    - wellarchitected: {LOCALSTACK_ENDPOINT}
    - worklink: {LOCALSTACK_ENDPOINT}
    - workspaces: {LOCALSTACK_ENDPOINT}
    - xray: {LOCALSTACK_ENDPOINT}
